:root {
    --navBar: #aaaaaa;
    --defaultBG: #b1b1b1;
    --border: #555555;

    --hoverLink: #ffffff;

    --bioText: #ffffff;
    --defaultText: #d4d4d4;
    --titleText: #b96fa3;

    --panelTitle: #fff;
    --contentSpacing : #242424;
}

body {
    background-color: var(--contentSpacing);
}

/* main website content panels */
.content {
    margin-top: 243px;
    display: flex;
    flex-direction: column;
}

/* styling for the 'about' section at the top of the page. Not to be confused with the actual 'About Me' section later on */
.contentPanel {
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;

    border-top: 5px double var(--border);
    border-bottom: 5px double var(--border);
    background-color: var(--titleText);
}

.contentPanel h1 {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 70px;

    color: var(--defaultText);

    text-decoration: underline;
    margin: 20px;
}

.bio {
    font-family: 'Shantell Sans', cursive;
    font-size: 31px;

    color: var(--bioText);
    text-align: center;
    margin: 170px;
}

/* hero/background image */
.hero {
    width: 100%;
    height: 700px;
    background: url("../images/bg-image.jpg");
    background-size: cover;
    flex-wrap: wrap;
    border-bottom: 10px solid #272727;
}

/* semantic elements for navigation bar */
.navBar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: right;
    top: 40px;
    padding: 100px 50px;
}

.navBar ul {
    padding-top: 10px;
}

/* navbar list element styling */
.navBar ul li {
    font-family: 'Nanum Pen Script', cursive;
    list-style: none;
    display: inline-block;
}

/* navbar list link styling elements */
.navBar ul li a {
    color: var(--navBar);
    font-size: 40px;
    text-decoration: none;
    position: relative;

    padding: 5px 50px;
}

/* navbar list link hover styling */
.navBar ul li a:hover {
    color: var(--hoverLink);
    transition: ease-in-out 0.8s;
}

/* navbar title styling */
.navBar ul .title {
    font-family: 'Homemade Apple', cursive;

    top: 20px;
    left: 20px;

    color: var(--titleText);
    font-size: 140px;
    justify-content: left;
    position: absolute;
    padding: 20px 0 0 60px;
}

/* media queries to adjust page elements bar when screen shrinks */
@media (max-width: 1550px) {
    .navBar {
        padding-top: 180px;
        padding-left: 20px;
        justify-content: left;
    }

    .navBar ul li {
        padding-right: 20px;
    }
}

@media (max-width: 927px) {
    .navBar ul li {
        padding-top: 20px;
    }
}

@media (max-width: 736px) {
    .navBar{
        padding-top: 310px;
        padding-left: 25px;
    }
}
